# **Project Title:**
## **Global Seismic Trends:Data-Driven Earthquake Insights**

**Core Skills Used:** Python | Pandas| Regex | SQL | MYSQL | Streamlit

**Created by:** Mohana Selvi

# Step 1: Data Retrieval from USGS API

In [2]:
import requests
import pandas as pd
from datetime import datetime

In [2]:
USGS_API_URL="https://earthquake.usgs.gov/fdsnws/event/1/query"

In [3]:
# Master list to store all earthquake data records
all_records=[]

In [4]:
# Define date range (last 5 years)

start_year = datetime.now().year - 5
end_year = datetime.now().year

for year in range(start_year, end_year + 1):
    for month in range(1, 13):

        start_date = datetime(year, month, 1)

        if month == 12:
            end_date = datetime(year + 1, 1, 1)
        else:
            end_date = datetime(year, month + 1, 1)

        params = {
            "format": "geojson",
            "starttime": start_date.strftime("%Y-%m-%d"),
            "endtime": end_date.strftime("%Y-%m-%d"),
            "minmagnitude": 1
        }

        response = requests.get(USGS_API_URL, params=params)

        if response.status_code == 200:
            data = response.json()

            for feature in data["features"]:
                prop = feature["properties"]
                geom = feature["geometry"]

                record = {
                    "id": feature.get("id"),
                    "time": prop.get("time"),
                    "updated": prop.get("updated"),
                    "latitude": geom["coordinates"][1],
                    "longitude": geom["coordinates"][0],
                    "depth_km": geom["coordinates"][2],
                    "mag": prop.get("mag"),
                    "magType": prop.get("magType"),
                    "place": prop.get("place"),
                    "status": prop.get("status"),
                    "tsunami": prop.get("tsunami"),
                    "sig": prop.get("sig"),
                    "net": prop.get("net"),
                    "nst": prop.get("nst"),
                    "dmin": prop.get("dmin"),
                    "rms": prop.get("rms"),
                    "gap": prop.get("gap"),
                    "magError": prop.get("magError"),
                    "depthError": prop.get("depthError"),
                    "magNst": prop.get("magNst"),
                    "locationSource": prop.get("locationSource"),
                    "magSource": prop.get("magSource"),
                    "types": prop.get("types"),
                    "ids": prop.get("ids"),
                    "sources": prop.get("sources"),
                    "type": prop.get("type")
                }

                all_records.append(record)

# Step 2: Convert to DataFrame

In [5]:
df = pd.DataFrame(all_records)

df["time"] = pd.to_datetime(df["time"], unit="ms")
df["updated"] = pd.to_datetime(df["updated"], unit="ms")

print("Rows:", df.shape[0])
print("Columns:", df.shape[1])

Rows: 537718
Columns: 26

In [9]:
#  Basic data validation:

# 1. To check first 5 rows of data
df.head()

,id,time,updated,latitude,longitude,depth_km,mag,magType,place,status,...,gap,magError,depthError,magNst,locationSource,magSource,types,ids,sources,type
0,nc73519035,2021-01-31 23:59:52.990,2021-02-05 01:58:06.558,38.822833,-122.852000,2.48,1.26,md,"10km WNW of The Geysers, CA",reviewed,...,62.0,None,None,None,None,None,",focal-mechanism,nearby-cities,origin,phase-da...",",nc73519035,",",nc,",earthquake
1,ak0211fnp2n8,2021-01-31 23:57:59.762,2021-02-16 10:20:23.027,64.276200,-148.385900,16.20,1.00,ml,"38 km E of Clear, Alaska, Alaska",reviewed,...,NaN,None,None,None,None,None,",origin,phase-data,",",ak0211fnp2n8,",",ak,",earthquake
2,ak0211fnmgji,2021-01-31 23:45:40.672,2021-02-16 10:20:22.752,59.014300,-152.489000,73.00,2.00,ml,"50 km SW of Nanwalek, Alaska",reviewed,...,NaN,None,None,None,None,None,",origin,phase-data,",",ak0211fnmgji,",",ak,",earthquake
3,ci39537199,2021-01-31 23:36:47.600,2021-02-03 15:13:53.642,32.749333,-115.820000,9.85,1.65,ml,"16km E of Ocotillo, CA",reviewed,...,80.0,None,None,None,None,None,",nearby-cities,origin,phase-data,scitech-link,",",ci39537199,",",ci,",earthquake
4,ci39537191,2021-01-31 23:31:33.550,2021-02-02 23:29:24.208,33.171167,-115.644667,5.89,1.66,ml,"13km WNW of Calipatria, CA",reviewed,...,31.0,None,None,None,None,None,",focal-mechanism,nearby-cities,origin,phase-da...",",ci39537191,",",ci,",earthquake

In [10]:
# 2. To check last 5 rows of data
df.tail()

,id,time,updated,latitude,longitude,depth_km,mag,magType,place,status,...,gap,magError,depthError,magNst,locationSource,magSource,types,ids,sources,type
537713,ak2026aaalhj,2026-01-01 00:13:06.375,2026-01-01 00:15:01.834,59.907000,-141.633000,11.400,2.20,ml,"114 km WNW of Yakutat, Alaska",automatic,...,203.0,None,None,None,None,None,",origin,phase-data,",",ak2026aaalhj,",",ak,",earthquake
537714,ak2026aaahge,2026-01-01 00:08:24.453,2026-01-01 07:38:13.924,64.999000,-147.372000,5.000,1.50,ml,"12 km ENE of Fox, Alaska",automatic,...,126.0,None,None,None,None,None,",dyfi,origin,phase-data,",",ak2026aaahge,",",ak,",earthquake
537715,tx2026aaafui,2026-01-01 00:06:41.135,2026-01-02 13:15:00.646,28.680000,-99.209000,6.518,1.80,ml,"3 km WSW of Hilltop, Texas",reviewed,...,59.0,None,None,None,None,None,",origin,phase-data,",",tx2026aaafui,",",tx,",earthquake
537716,us7000rlt7,2026-01-01 00:03:02.521,2026-01-01 01:38:11.547,60.513400,-139.574100,5.000,3.20,ml,"108 km N of Yakutat, Alaska",reviewed,...,74.0,None,None,None,None,None,",origin,phase-data,shakemap,",",ak2026aaacps,us7000rlt7,",",ak,us,",earthquake
537717,nc75289416,2026-01-01 00:00:43.010,2026-01-01 00:02:19.048,38.834835,-122.811996,2.040,1.03,md,"8 km W of Cobb, CA",automatic,...,54.0,None,None,None,None,None,",nearby-cities,origin,phase-data,",",nc75289416,",",nc,",earthquake

In [20]:
# 3. To check data types

df.dtypes

id                        object
time              datetime64[ns]
updated           datetime64[ns]
latitude                 float64
longitude                float64
depth_km                 float64
mag                      float64
magType                   object
place                     object
status                    object
tsunami                    int64
sig                        int64
net                       object
nst                      float64
dmin                     float64
rms                      float64
gap                      float64
magError                 float64
depthError               float64
magNst                   float64
locationSource           float64
magSource                float64
types                     object
ids                       object
sources                   object
type                      object
dtype: object

In [21]:
# To display all the columns

pd.set_option('display.max_columns',None)
df.head()

,id,time,updated,latitude,longitude,depth_km,mag,magType,place,status,tsunami,sig,net,nst,dmin,rms,gap,magError,depthError,magNst,locationSource,magSource,types,ids,sources,type
0,nc73519035,2021-01-31 23:59:52.990,2021-02-05 01:58:06.558,38.822833,-122.852000,2.48,1.26,md,"10km WNW of The Geysers, CA",reviewed,0,24,nc,43.0,0.006052,0.03,62.0,NaN,NaN,NaN,NaN,NaN,",focal-mechanism,nearby-cities,origin,phase-da...",",nc73519035,",",nc,",earthquake
1,ak0211fnp2n8,2021-01-31 23:57:59.762,2021-02-16 10:20:23.027,64.276200,-148.385900,16.20,1.00,ml,"38 km E of Clear, Alaska, Alaska",reviewed,0,15,ak,NaN,NaN,0.79,NaN,NaN,NaN,NaN,NaN,NaN,",origin,phase-data,",",ak0211fnp2n8,",",ak,",earthquake
2,ak0211fnmgji,2021-01-31 23:45:40.672,2021-02-16 10:20:22.752,59.014300,-152.489000,73.00,2.00,ml,"50 km SW of Nanwalek, Alaska",reviewed,0,62,ak,NaN,NaN,0.34,NaN,NaN,NaN,NaN,NaN,NaN,",origin,phase-data,",",ak0211fnmgji,",",ak,",earthquake
3,ci39537199,2021-01-31 23:36:47.600,2021-02-03 15:13:53.642,32.749333,-115.820000,9.85,1.65,ml,"16km E of Ocotillo, CA",reviewed,0,42,ci,24.0,0.127000,0.18,80.0,NaN,NaN,NaN,NaN,NaN,",nearby-cities,origin,phase-data,scitech-link,",",ci39537199,",",ci,",earthquake
4,ci39537191,2021-01-31 23:31:33.550,2021-02-02 23:29:24.208,33.171167,-115.644667,5.89,1.66,ml,"13km WNW of Calipatria, CA",reviewed,0,42,ci,42.0,0.022040,0.20,31.0,NaN,NaN,NaN,NaN,NaN,",focal-mechanism,nearby-cities,origin,phase-da...",",ci39537191,",",ci,",earthquake

# Step 3: Save Data to CSV File

In [12]:
df.to_csv("Global_seismic_trends.csv",index=False)
print("Data successfully saved as Global_seismic_trends.csv")

Data successfully saved as Global_seismic_trends.csv

# Step 4: Data Cleaning & Preprocessing

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537718 entries, 0 to 537717
Data columns (total 27 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              537718 non-null  object
 1   time            537718 non-null  datetime64[ns]
 2   updated         537718 non-null  datetime64[ns]
 3   latitude        537718 non-null  float64
 4   longitude       537718 non-null  float64
 5   depth_km        537718 non-null  float64
 6   mag             537718 non-null  float64
 7   magType         537718 non-null  object
 8   place           537703 non-null  object
 9   status          537718 non-null  object
 10  tsunami         537718 non-null  int64
 11  sig             537718 non-null  int64
 12  net             537718 non-null  object
 13  nst             344229 non-null  float64
 14  dmin            338505 non-null  float64
 15  rms             537684 non-null  float64
 16  gap             372449 non-null  float64
 17  magError        0 non-null       float64
 18  depthError      0 non-null       float64
 19  magNst          0 non-null       float64
 20  locationSource  0 non-null       float64
 21  magSource       0 non-null       float64
 22  types           537718 non-null  object
 23  ids             537718 non-null  object
 24  sources         537718 non-null  object
 25  type            537718 non-null  object
 26  country         537703 non-null  object
dtypes: datetime64[ns](2), float64(13), int64(2), object(10)
memory usage: 110.8+ MB

In [31]:
df.isnull().sum()

id                     0
time                   0
updated                0
latitude               0
longitude              0
depth_km               0
mag                    0
magType                0
place                 15
status                 0
tsunami                0
sig                    0
net                    0
nst               193489
dmin              199213
rms                   34
gap               165269
magError          537718
depthError        537718
magNst            537718
locationSource    537718
magSource         537718
types                  0
ids                    0
sources                0
type                   0
country               15
dtype: int64

#### Load Data

In [22]:
# Load the CSV Dataset

df=pd.read_csv("Global_seismic_trends.csv")
df.head()

,id,time,updated,latitude,longitude,depth_km,mag,magType,place,status,tsunami,sig,net,nst,dmin,rms,gap,magError,depthError,magNst,locationSource,magSource,types,ids,sources,type
0,nc73519035,2021-01-31 23:59:52.990,2021-02-05 01:58:06.558,38.822833,-122.852000,2.48,1.26,md,"10km WNW of The Geysers, CA",reviewed,0,24,nc,43.0,0.006052,0.03,62.0,NaN,NaN,NaN,NaN,NaN,",focal-mechanism,nearby-cities,origin,phase-da...",",nc73519035,",",nc,",earthquake
1,ak0211fnp2n8,2021-01-31 23:57:59.762,2021-02-16 10:20:23.027,64.276200,-148.385900,16.20,1.00,ml,"38 km E of Clear, Alaska, Alaska",reviewed,0,15,ak,NaN,NaN,0.79,NaN,NaN,NaN,NaN,NaN,NaN,",origin,phase-data,",",ak0211fnp2n8,",",ak,",earthquake
2,ak0211fnmgji,2021-01-31 23:45:40.672,2021-02-16 10:20:22.752,59.014300,-152.489000,73.00,2.00,ml,"50 km SW of Nanwalek, Alaska",reviewed,0,62,ak,NaN,NaN,0.34,NaN,NaN,NaN,NaN,NaN,NaN,",origin,phase-data,",",ak0211fnmgji,",",ak,",earthquake
3,ci39537199,2021-01-31 23:36:47.600,2021-02-03 15:13:53.642,32.749333,-115.820000,9.85,1.65,ml,"16km E of Ocotillo, CA",reviewed,0,42,ci,24.0,0.127000,0.18,80.0,NaN,NaN,NaN,NaN,NaN,",nearby-cities,origin,phase-data,scitech-link,",",ci39537199,",",ci,",earthquake
4,ci39537191,2021-01-31 23:31:33.550,2021-02-02 23:29:24.208,33.171167,-115.644667,5.89,1.66,ml,"13km WNW of Calipatria, CA",reviewed,0,42,ci,42.0,0.022040,0.20,31.0,NaN,NaN,NaN,NaN,NaN,",focal-mechanism,nearby-cities,origin,phase-da...",",ci39537191,",",ci,",earthquake

In [23]:
# Convert datetime fields

df['time']=pd.to_datetime(df['time'],errors='coerce')
df['updated']=pd.to_datetime(df['updated'],errors='coerce')

#### Clean Text Fields

In [26]:
# Extract country from place using REGEX
import re

In [27]:
def extract_country(place):
    if pd.isna(place):
        return None
    match = re.search(r',\s*([A-Za-z\s]+)$', place)
    if match:
        return match.group(1).strip()
    else:
        return "Unknown"

df['country']=df['place'].apply(extract_country)

In [28]:
# Normalize alert fields(if exists)

if 'alert' in df.columns:
    df['alert']=df['alert'].astype(str).str.lower().str.strip()

In [29]:
# Clean string fields

string_cols=['magType','status','type','net','sources','types']
for col in string_cols:
    if col in df.columns:
        df[col]=df[col].astype(str).str.lower().str.strip()

#### Clean Numeric Fields

In [32]:
# Convert to numeric

num_cols=['mag','depth_km','nst','dmin','rms','gap','magError','depthError','magNst','sig']
for col in num_cols:
    if col in df.columns:
        df[col]=pd.to_numeric(df[col],errors='coerce')

In [33]:
# Fill missing values
df[num_cols].isnull().sum()

mag                0
depth_km           0
nst           193489
dmin          199213
rms               34
gap           165269
magError      537718
depthError    537718
magNst        537718
sig                0
dtype: int64

In [34]:
df[num_cols]=df[num_cols].fillna(0)

In [55]:
df.isnull().sum()

id                       0
time                     0
updated                  0
latitude                 0
longitude                0
depth_km                 0
mag                      0
magType                  0
place                   15
status                   0
tsunami                  0
sig                      0
net                      0
nst                      0
dmin                     0
rms                      0
gap                      0
magError                 0
depthError               0
magNst                   0
locationSource      537718
magSource           537718
types                    0
ids                      0
sources                  0
type                     0
country                 15
year                     0
month                    0
day                      0
day_of_week              0
depth_flag               0
destructive_flag         0
dtype: int64

In [35]:
# To verify 
df[num_cols].isnull().sum()

mag           0
depth_km      0
nst           0
dmin          0
rms           0
gap           0
magError      0
depthError    0
magNst        0
sig           0
dtype: int64

#### Add Derived Columns

In [36]:
# Time derived columns

df['year']=df['time'].dt.year
df['month']=df['time'].dt.month
df['day']=df['time'].dt.day
df['day_of_week']=df['time'].dt.day_name()

In [37]:
# Shallow / deep flag

def depth_flag(depth):
    if depth<70:
        return 'shallow'
    else:
        return 'deep'

df['depth_flag']=df['depth_km'].apply(depth_flag)

In [38]:
# Strong / destructive flag

def destructive_flag(mag):
    if mag < 5:
        return 'normal'
    elif 5 <= mag <7:
        return 'strong'
    else:
        return 'destructive'

df['destructive_flag']=df['mag'].apply(destructive_flag)

In [39]:
# To verify derived columns
df[['year','month','day','day_of_week','depth_flag','destructive_flag']].head()

   year  month  day day_of_week depth_flag destructive_flag
0  2021      1   31      Sunday    shallow           normal
1  2021      1   31      Sunday    shallow           normal
2  2021      1   31      Sunday       deep           normal
3  2021      1   31      Sunday    shallow           normal
4  2021      1   31      Sunday    shallow           normal

# Step 5: Store Data in MySQL

In [40]:
!pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\anith\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: pymysql in c:\users\anith\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\anith\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\anith\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)

In [2]:
from sqlalchemy import create_engine, text

engine = create_engine("mysql+pymysql://root:Mohajaya%400706@localhost/")

with engine.connect() as conn:
    print("Connected successfully from Jupyter!")

Connected successfully from Jupyter!

In [3]:
# To create database

with engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS earthquake_db1"))

In [4]:
# To connect database

engine=create_engine("mysql+pymysql://root:Mohajaya%400706@localhost/earthquake_db1")
print("MYSQL engine connected successfully")

MYSQL engine connected successfully

In [49]:
# To insert DataFrame

df.to_sql(
    name="earthquakes",
    con=engine,
    if_exists="replace",
    index=False
)

537718

In [50]:
# To verify (check tables)
pd.read_sql("SHOW TABLES",engine)

  Tables_in_earthquake_db1
0              earthquakes

In [52]:
# To verify(check row count)
pd.read_sql("select * from earthquakes limit 5",engine)

,id,time,updated,latitude,longitude,depth_km,mag,magType,place,status,tsunami,sig,net,nst,dmin,rms,gap,magError,depthError,magNst,locationSource,magSource,types,ids,sources,type,country,year,month,day,day_of_week,depth_flag,destructive_flag
0,nc73519035,2021-01-31 23:59:53,2021-02-05 01:58:07,38.822833,-122.852000,2.48,1.26,md,"10km WNW of The Geysers, CA",reviewed,0,24,nc,43.0,0.006052,0.03,62.0,0.0,0.0,0.0,None,None,",focal-mechanism,nearby-cities,origin,phase-da...",",nc73519035,",",nc,",earthquake,CA,2021,1,31,Sunday,shallow,normal
1,ak0211fnp2n8,2021-01-31 23:58:00,2021-02-16 10:20:23,64.276200,-148.385900,16.20,1.00,ml,"38 km E of Clear, Alaska, Alaska",reviewed,0,15,ak,0.0,0.000000,0.79,0.0,0.0,0.0,0.0,None,None,",origin,phase-data,",",ak0211fnp2n8,",",ak,",earthquake,Alaska,2021,1,31,Sunday,shallow,normal
2,ak0211fnmgji,2021-01-31 23:45:41,2021-02-16 10:20:23,59.014300,-152.489000,73.00,2.00,ml,"50 km SW of Nanwalek, Alaska",reviewed,0,62,ak,0.0,0.000000,0.34,0.0,0.0,0.0,0.0,None,None,",origin,phase-data,",",ak0211fnmgji,",",ak,",earthquake,Alaska,2021,1,31,Sunday,deep,normal
3,ci39537199,2021-01-31 23:36:48,2021-02-03 15:13:54,32.749333,-115.820000,9.85,1.65,ml,"16km E of Ocotillo, CA",reviewed,0,42,ci,24.0,0.127000,0.18,80.0,0.0,0.0,0.0,None,None,",nearby-cities,origin,phase-data,scitech-link,",",ci39537199,",",ci,",earthquake,CA,2021,1,31,Sunday,shallow,normal
4,ci39537191,2021-01-31 23:31:34,2021-02-02 23:29:24,33.171167,-115.644667,5.89,1.66,ml,"13km WNW of Calipatria, CA",reviewed,0,42,ci,42.0,0.022040,0.20,31.0,0.0,0.0,0.0,None,None,",focal-mechanism,nearby-cities,origin,phase-da...",",ci39537191,",",ci,",earthquake,CA,2021,1,31,Sunday,shallow,normal

In [53]:
# To verify(check row count)
pd.read_sql("SELECT COUNT(*) AS total_rows FROM earthquakes", engine)

   total_rows
0      537718

# Analyst Tasks - SQL Based Insights

# Magnitude & Depth

## Query 1 : Top 10 strongest earthquakes (mag)

In [1]:
import pandas as pd

In [5]:
query1 = pd.read_sql("""
SELECT 
    id,
    place,
    mag,
    depth_km,
    time,
    country
FROM earthquakes
ORDER BY mag DESC
LIMIT 10;
""", engine)

query1

,id,place,mag,depth_km,time,country
0,us6000qw60,"2025 Kamchatka Peninsula, Russia Earthquake",8.8,35.000,2025-07-29 23:24:52,Russia Earthquake
1,ak0219neiszm,"2021 Chignik, Alaska Earthquake",8.2,35.000,2021-07-29 06:15:49,Alaska Earthquake
2,us6000f53e,2021 South Sandwich Islands Earthquake,8.1,22.790,2021-08-12 18:35:17,Unknown
3,us7000dflf,"2021 Kermadec Islands, New Zealand Earthquake",8.1,28.930,2021-03-04 19:28:33,New Zealand Earthquake
4,us7000qx2g,"140 km E of Petropavlovsk-Kamchatsky, Russia",7.8,27.000,2025-09-18 18:58:15,Russia
5,us6000jllz,"Pazarcik earthquake, Kahramanmaras earthquake ...",7.8,10.000,2023-02-06 01:17:34,Kahramanmaras earthquake sequence
6,us6000kd0n,southeast of the Loyalty Islands,7.7,18.053,2023-05-19 02:57:03,Unknown
7,us7000pn9s,"2025 Mandalay, Burma (Myanmar) Earthquake",7.7,10.000,2025-03-28 06:20:53,Unknown
8,us6000dg77,southeast of the Loyalty Islands,7.7,10.000,2021-02-10 13:19:56,Unknown
9,us7000pcdl,"210 km SSW of George Town, Cayman Islands",7.6,14.326,2025-02-08 23:23:15,Cayman Islands

## Query 2 : Top 10 deepest earthquakes (depth_km)

In [6]:
query2 = pd.read_sql("""
SELECT 
    id,
    place,
    mag,
    depth_km,
    time,
    country
FROM earthquakes
ORDER BY depth_km DESC
LIMIT 10;
""", engine)

query2

,id,place,mag,depth_km,time,country
0,us6000k2db,"208 km ENE of Sola, Vanuatu",4.0,681.238,2023-04-01 18:09:17,Vanuatu
1,us7000kxdn,Vanuatu region,4.2,675.265,2023-09-18 15:35:27,Unknown
2,us6000mivr,Fiji region,4.2,671.043,2024-03-08 22:42:24,Unknown
3,us6000rk66,"205 km ESE of Levuka, Fiji",4.8,669.556,2025-10-29 17:07:34,Fiji
4,us6000f2w3,"283 km SE of Levuka, Fiji",4.0,669.460,2021-08-01 22:12:46,Fiji
5,us7000q1jk,"299 km E of Levuka, Fiji",4.2,667.237,2025-05-10 02:03:17,Fiji
6,us6000dhfx,south of the Fiji Islands,4.5,664.740,2021-02-13 16:26:42,Unknown
7,us7000he64,"279 km ESE of Labasa, Fiji",4.3,664.700,2022-06-01 18:41:01,Fiji
8,us6000m2wg,"138 km NE of Sola, Vanuatu",4.1,660.826,2023-12-31 02:19:27,Vanuatu
9,us7000ingi,south of the Fiji Islands,7.0,660.000,2022-11-09 09:51:04,Unknown

## Query 3 : Shallow earthquakes < 50 km and mag > 7.5

In [7]:
query3 = pd.read_sql("""
SELECT 
    id,
    place,
    mag,
    depth_km,
    time,
    country
FROM earthquakes
WHERE depth_km < 50
  AND mag > 7.5
ORDER BY mag DESC;
""", engine)

query3

,id,place,mag,depth_km,time,country
0,us6000qw60,"2025 Kamchatka Peninsula, Russia Earthquake",8.8,35.000,2025-07-29 23:24:52,Russia Earthquake
1,ak0219neiszm,"2021 Chignik, Alaska Earthquake",8.2,35.000,2021-07-29 06:15:49,Alaska Earthquake
2,us7000dflf,"2021 Kermadec Islands, New Zealand Earthquake",8.1,28.930,2021-03-04 19:28:33,New Zealand Earthquake
3,us6000f53e,2021 South Sandwich Islands Earthquake,8.1,22.790,2021-08-12 18:35:17,Unknown
4,us6000jllz,"Pazarcik earthquake, Kahramanmaras earthquake ...",7.8,10.000,2023-02-06 01:17:34,Kahramanmaras earthquake sequence
5,us7000qx2g,"140 km E of Petropavlovsk-Kamchatsky, Russia",7.8,27.000,2025-09-18 18:58:15,Russia
6,us6000dg77,southeast of the Loyalty Islands,7.7,10.000,2021-02-10 13:19:56,Unknown
7,us6000kd0n,southeast of the Loyalty Islands,7.7,18.053,2023-05-19 02:57:03,Unknown
8,us7000pn9s,"2025 Mandalay, Burma (Myanmar) Earthquake",7.7,10.000,2025-03-28 06:20:53,Unknown
9,us7000i9bw,"35 km SSW of Aguililla, Mexico",7.6,26.943,2022-09-19 18:05:08,Mexico
10,us7000lff4,"19 km E of Gamut, Philippines",7.6,40.000,2023-12-02 14:37:04,Philippines
11,us7000pcdl,"210 km SSW of George Town, Cayman Islands",7.6,14.326,2025-02-08 23:23:15,Cayman Islands
12,us6000rgf4,Drake Passage,7.6,5.639,2025-10-10 20:29:20,Unknown
13,us6000rtdt,"2025 Aomori Prefecture, Japan Earthquake",7.6,45.351,2025-12-08 14:15:10,Japan Earthquake

## Query 4 : Average magnitude per magnitude type (magType)

In [8]:
query4 = pd.read_sql("""
SELECT 
    magType,
    AVG(mag) AS avg_magnitude
FROM earthquakes
GROUP BY magType
ORDER BY avg_magnitude DESC;
""", engine)

query4

       magType  avg_magnitude
0          mwc       6.150000
1          mwb       5.803448
2        ms_20       5.800000
3          mww       5.373946
4          mwp       5.250000
5        ms_vx       4.600000
6           mb       4.426347
7          mwr       4.344780
8           mw       3.938397
9          mlr       3.480000
10         mlg       3.300000
11       mb_lg       2.621331
12         mlv       2.190611
13  ml(texnet)       2.008778
14          mh       1.852604
15          md       1.813621
16          ml       1.726125

# Time Analysis

## Query 5 : Year with most earthquakes

In [9]:
query5= pd.read_sql("""
SELECT 
    year,
    COUNT(*) AS earthquake_count
FROM earthquakes
GROUP BY year
ORDER BY earthquake_count DESC;
""", engine)

query5

   year  earthquake_count
0  2021            117512
1  2022            107448
2  2024            107362
3  2023            106802
4  2025             93335
5  2026              5259

## Query 6 : Month with highest number of earthquakes

In [11]:
query6 = pd.read_sql("""
SELECT 
    monthname(time) AS month,
    COUNT(*) AS earthquake_count
FROM earthquakes
GROUP BY monthname(time),month(time)
ORDER BY earthquake_count DESC;
""", engine)

query6

        month  earthquake_count
0     January             52556
1        July             50348
2      August             47687
3       March             47332
4    December             46135
5       April             43072
6    February             42603
7   September             42495
8     October             42319
9        June             42195
10        May             41247
11   November             39729

## Query 7 : Day of week with most earthquakes

In [5]:
query7 = pd.read_sql("""
SELECT 
    day_of_week,
    COUNT(*) AS earthquake_count
FROM earthquakes
GROUP BY day_of_week
ORDER BY FIELD(day_of_week,'Monday','Tuesday','Wednesday','Thursday',
'Friday','Saturday','Sunday');
""", engine)

query7

  day_of_week  earthquake_count
0      Monday             77806
1     Tuesday             77038
2   Wednesday             77544
3    Thursday             77486
4      Friday             77391
5    Saturday             75282
6      Sunday             75171

## Query 8 : Count of earthquakes per hour of day

In [9]:
query8 = pd.read_sql("""
SELECT 
    DATE_FORMAT(time, '%%H:00') AS hour_of_day,
    COUNT(*) AS earthquake_count
FROM earthquakes
GROUP BY DATE_FORMAT(time, '%%H:00'), HOUR(time)
ORDER BY HOUR(time);
""", engine)

query8

   hour_of_day  earthquake_count
0        00:00             22733
1        01:00             22345
2        02:00             22275
3        03:00             22539
4        04:00             22757
5        05:00             22694
6        06:00             22526
7        07:00             22924
8        08:00             22696
9        09:00             22762
10       10:00             22183
11       11:00             21955
12       12:00             22088
13       13:00             22087
14       14:00             21554
15       15:00             21743
16       16:00             21854
17       17:00             22689
18       18:00             22702
19       19:00             23225
20       20:00             22633
21       21:00             22397
22       22:00             22072
23       23:00             22285

## Query 9 : Most active reporting network (net)

In [10]:
query9 = pd.read_sql("""
SELECT 
    net,
    COUNT(*) AS report_count
FROM earthquakes
GROUP BY net
ORDER BY report_count DESC;
""", engine)

query9

       net  report_count
0       ak        170637
1       us        108971
2       nc         51793
3       ci         47070
4       hv         40224
5       tx         29295
6       pr         21237
7       nn         17858
8       ok         13156
9       uu         11101
10      uw          8698
11      mb          7637
12      av          7322
13      nm          1867
14      se           834
15  iscgem            16
16      ew             2

# Casualties & Economic Loss

## Query 10 : Top 5 places with highest casualties

In [11]:
query10 = pd.read_sql("""
SELECT 
    place,
    SUM(sig) AS total_impact_score
FROM earthquakes
GROUP BY place
ORDER BY total_impact_score DESC
LIMIT 5;
""", engine)

query10

                              place  total_impact_score
0     South Sandwich Islands region           1027382.0
1           Kermadec Islands region            616762.0
2         south of the Fiji Islands            565412.0
3  southeast of the Loyalty Islands            361479.0
4                       Fiji region            359097.0

## Query 11 : Average economic loss by alert level

In [12]:
query11 = pd.read_sql("""
SELECT 
    status,
    AVG(sig) AS avg_economic_impact
FROM earthquakes
GROUP BY status
ORDER BY avg_economic_impact DESC;
""", engine)
query11

      status  avg_economic_impact
0   reviewed              98.8175
1  automatic              46.4890

# Event Type & Quality Metrics

## Query 12 : Count of reviewed vs automatic earthquakes (status)

In [13]:
query12 = pd.read_sql("""
SELECT 
    status,
    COUNT(*) AS total_earthquakes
FROM earthquakes
GROUP BY status
ORDER BY total_earthquakes DESC;
""", engine)

query12

      status  total_earthquakes
0   reviewed             486947
1  automatic              50771

## Query 13 : Count by earthquake type (type)

In [14]:
query13 = pd.read_sql("""
SELECT 
    type,
    COUNT(*) AS total_earthquakes
FROM earthquakes
GROUP BY type;
""", engine)

query13

                      type  total_earthquakes
0               earthquake             521388
1                explosion               4379
2         mining explosion               1067
3                ice quake               4030
4             quarry blast               6529
5              other event                251
6               rock burst                  3
7            mine collapse                  7
8       chemical explosion                 10
9   experimental explosion                  4
10            not reported                  5
11              sonic boom                  2
12       volcanic eruption                 12
13               landslide                 31

## Query 14 : Number of earthquakes by data type (types)

In [19]:
query14 = pd.read_sql("""
SELECT types,COUNT(*) AS total_earthquakes
FROM earthquakes
GROUP BY types
ORDER BY total_earthquakes DESC;
""", engine)

query14

                                                 types  total_earthquakes
0                                  ,origin,phase-data,             397925
1       ,nearby-cities,origin,phase-data,scitech-link,              52412
2    ,focal-mechanism,nearby-cities,origin,phase-da...              22706
3                             ,dyfi,origin,phase-data,              18604
4                    ,nearby-cities,origin,phase-data,              10525
..                                                 ...                ...
555  ,dyfi,earthquake-name,finite-fault,general-tex...                  1
556       ,impact-link,oaf,origin,phase-data,shakemap,                  1
557  ,dyfi,losspager,moment-tensor,nearby-cities,oa...                  1
558  ,dyfi,focal-mechanism,ground-failure,internal-...                  1
559  ,losspager,nearby-cities,origin,phase-data,sci...                  1

[560 rows x 2 columns]

## Query 15 : Events with high station coverage (nst > threshold)

In [16]:
query15 = pd.read_sql("""
SELECT *
FROM earthquakes
WHERE nst > 50;
""", engine)

query15

,id,time,updated,latitude,longitude,depth_km,mag,magType,place,status,...,ids,sources,type,country,year,month,day,day_of_week,depth_flag,destructive_flag
0,hv72336852,2021-01-31 22:23:17,2022-08-09 02:42:49,19.207000,-155.500667,35.270,2.68,md,"2 km W of P?hala, Hawaii",reviewed,...,",hv72336852,us6000ddhv,",",hv,us,",earthquake,Hawaii,2021,1,31,Sunday,shallow,normal
1,ci39537047,2021-01-31 20:42:01,2021-04-16 19:02:42,33.171000,-115.649000,5.120,2.57,ml,"14km WNW of Calipatria, CA",reviewed,...,",ci39537047,us6000ddh0,",",ci,us,",earthquake,CA,2021,1,31,Sunday,shallow,normal
2,ci39537023,2021-01-31 20:36:43,2021-02-02 18:59:57,33.171833,-115.647667,5.080,1.86,ml,"13km WNW of Calipatria, CA",reviewed,...,",ci39537023,",",ci,",earthquake,CA,2021,1,31,Sunday,shallow,normal
3,ci39536935,2021-01-31 18:51:42,2021-02-01 14:48:21,33.209667,-116.732500,11.990,1.40,ml,"5km SE of Lake Henshaw, CA",reviewed,...,",ci39536935,",",ci,",earthquake,CA,2021,1,31,Sunday,shallow,normal
4,ci39536895,2021-01-31 17:28:46,2021-02-02 16:29:09,33.605667,-116.934833,7.400,1.30,ml,"16km SSE of Hemet, CA",reviewed,...,",ci39536895,",",ci,",earthquake,CA,2021,1,31,Sunday,shallow,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45333,ok2026aahb,2026-01-01 03:33:50,2026-01-06 03:48:16,36.420833,-96.873333,6.140,1.23,ml,"11 km NW of Pawnee, Oklahoma",reviewed,...,",ok2026aahb,",",ok,",earthquake,Oklahoma,2026,1,1,Thursday,shallow,normal
45334,uw62221106,2026-01-01 03:30:15,2026-01-02 18:09:16,46.696333,-122.345667,17.500,1.67,ml,"12 km SSW of Alder, Washington",reviewed,...,",uw62221106,",",uw,",earthquake,Washington,2026,1,1,Thursday,shallow,normal
45335,us7000rltq,2026-01-01 03:05:27,2026-01-24 02:43:22,-6.514000,129.938300,179.106,5.30,mb,Banda Sea,reviewed,...,",us7000rltq,",",us,",earthquake,Unknown,2026,1,1,Thursday,deep,strong
45336,us7000rltp,2026-01-01 02:56:21,2026-01-24 02:27:10,4.910100,127.492500,107.314,4.90,mb,"216 km SE of Pondaguitan, Philippines",reviewed,...,",us7000rltp,",",us,",earthquake,Philippines,2026,1,1,Thursday,deep,normal
45337,us7000rltg,2026-01-01 01:53:02,2026-01-24 00:05:12,-45.611700,96.359200,10.000,6.00,mww,southeast Indian Ridge,reviewed,...,",usauto7000rltg,at00t85x8g,us7000rltg,",",usauto,at,us,",earthquake,Unknown,2026,1,1,Thursday,shallow,strong

# Tsunamis & Alerts

## Query 16 : Number of tsunamis triggered per year

In [17]:
query16 = pd.read_sql("""
SELECT 
    year,
    COUNT(*) AS tsunami_events
FROM earthquakes
WHERE tsunami = 1
GROUP BY year
ORDER BY year;
""", engine)

query16

   year  tsunami_events
0  2021             114
1  2022             136
2  2023             119
3  2024             114
4  2025             142
5  2026              12

## Query 17 : Count earthquakes by alert levels derived from sig (red, orange, etc.)

In [18]:
query17 = pd.read_sql("""
SELECT 
  CASE
    WHEN sig >= 600 THEN 'red'
    WHEN sig >= 400 THEN 'orange'
    WHEN sig >= 200 THEN 'yellow'
    ELSE 'green'
  END AS alert_level,
  COUNT(*) AS total_earthquakes
FROM earthquakes
WHERE sig IS NOT NULL
GROUP BY alert_level
ORDER BY total_earthquakes DESC;
""", engine)

query17

  alert_level  total_earthquakes
0       green             450416
1      yellow              79750
2      orange               6823
3         red                729

# Seismic Pattern & Trends Analysis

## Query 18 : Find the top 5 countries with the highest average magnitude of earthquakes in the past 10 years

In [20]:
query18 = pd.read_sql("""
SELECT 
    place AS region,
    AVG(mag) AS avg_magnitude
FROM earthquakes
WHERE year >= YEAR(CURDATE()) - 10
GROUP BY place
ORDER BY avg_magnitude DESC
LIMIT 5;
""", engine)

query18

                                              region  avg_magnitude
0        2025 Kamchatka Peninsula, Russia Earthquake            8.8
1                    2021 Chignik, Alaska Earthquake            8.2
2      2021 Kermadec Islands, New Zealand Earthquake            8.1
3             2021 South Sandwich Islands Earthquake            8.1
4  Pazarcik earthquake, Kahramanmaras earthquake ...            7.8

## Query 19 : Find countries that have experienced both shallow and deep earthquakes within the same month

In [21]:
query19 = pd.read_sql("""
SELECT DISTINCT e1.country
FROM earthquakes e1
JOIN earthquakes e2
  ON e1.country = e2.country
 AND YEAR(e1.time) = YEAR(e2.time)
 AND MONTH(e1.time) = MONTH(e2.time)

WHERE e1.depth_km < 70        -- shallow
  AND e2.depth_km > 300       -- deep
  AND e1.country IS NOT NULL
  AND e1.country <> ''
  AND e1.country <> 'Unknown';

""",engine)

query19

                     country
0          Wallis and Futuna
1                       Fiji
2                  Indonesia
3   Northern Mariana Islands
4                      Japan
5                Philippines
6                Timor Leste
7                      Tonga
8               Japan region
9           Papua New Guinea
10                     Italy
11                 Argentina
12                    Russia
13               Afghanistan
14           Solomon Islands
15                   Vanuatu
16                      Peru
17               New Zealand
18                   Bolivia
19                     China
20                    Brazil
21                      Guam

## Query 20 : Compute the year-over-year growth rate in the total number of earthquakes globally

In [8]:
query20 = pd.read_sql("""
WITH yearly_counts AS (
    SELECT YEAR(time) AS year,
    COUNT(*) AS total_earthquakes
    FROM earthquakes
    GROUP BY YEAR(time)
),

growth_calc AS (
    SELECT  year,total_earthquakes,
        LAG(total_earthquakes) OVER (ORDER BY year) AS prev_year_count
     FROM yearly_counts
)

SELECT year,total_earthquakes,prev_year_count,
        ROUND(
        ((total_earthquakes - prev_year_count) / prev_year_count) * 100,
        2
    ) AS yoy_growth_percent
FROM growth_calc
WHERE prev_year_count IS NOT NULL
AND year < 2026   -- exclude incomplete year
ORDER BY year;
""", engine)

query20

   year  total_earthquakes  prev_year_count  yoy_growth_percent
0  2022             107448           117512               -8.56
1  2023             106802           107448               -0.60
2  2024             107362           106802                0.52
3  2025              93335           107362              -13.07

## Query 21 : List the 3 most seismically active regions by combining both frequency and average magnitude

In [10]:
query21 = pd.read_sql("""
SELECT 
    country,
    COUNT(*) AS frequency,
    AVG(mag) AS avg_magnitude,
    (COUNT(*) * AVG(mag)) AS seismic_score
FROM earthquakes
WHERE country IS NOT NULL AND country <> ''
AND country<>'Unknown'
GROUP BY country
ORDER BY seismic_score DESC
LIMIT 3;
""", engine)

query21

  country  frequency  avg_magnitude  seismic_score
0  Alaska     192624       1.783582  343560.696122
1      CA      95785       1.523629  145940.801117
2  Hawaii      40294       1.993133   80311.320025

# Depth, Location & Distance-Based  Analysis

## Query 22 : For each country, calculate the average depth of earthquakes within ±5° latitude range of the equator

In [11]:
query22 = pd.read_sql("""
SELECT 
    country,
    AVG(depth_km) AS avg_depth_near_equator
FROM earthquakes
WHERE latitude BETWEEN -5 AND 5
  AND country IS NOT NULL
  AND country <> ''
GROUP BY country
ORDER BY avg_depth_near_equator DESC;
""", engine)

query22

                             country  avg_depth_near_equator
0                        Philippines              124.892832
1                   Papua New Guinea               71.209011
2                               Peru               65.394867
3                          Indonesia               64.034534
4                            Ecuador               60.256599
5                           Colombia               39.602407
6                            Unknown               24.047124
7                          Venezuela               11.127000
8                           Malaysia               11.016667
9                             Brazil               10.556000
10                            Rwanda               10.441538
11                            Guyana               10.351429
12                           Burundi               10.000000
13                            Uganda               10.000000
14                          Tanzania               10.000000
15                   Kiribati region               10.000000
16                       South Sudan               10.000000
17                            Panama               10.000000
18                    Ecuador region               10.000000
19                             Palau               10.000000
20                          Ethiopia               10.000000
21  Democratic Republic of the Congo                9.914739
22                             Gabon                9.818182
23                             Kenya                9.799000

## Query 23 : Identify countries having the highest ratio of shallow to deep earthquakes

In [13]:
query23 = pd.read_sql("""
SELECT 
    country,
    SUM(CASE WHEN depth_km < 70 THEN 1 ELSE 0 END) AS shallow_count,
    SUM(CASE WHEN depth_km > 300 THEN 1 ELSE 0 END) AS deep_count,
    ROUND(
        SUM(CASE WHEN depth_km < 70 THEN 1 ELSE 0 END) /
        NULLIF(SUM(CASE WHEN depth_km > 300 THEN 1 ELSE 0 END), 0),
    2) AS shallow_deep_ratio
FROM earthquakes
WHERE country IS NOT NULL 
  AND country <> ''
GROUP BY country
HAVING deep_count > 0
ORDER BY shallow_deep_ratio DESC;
""", engine)

query23

                     country  shallow_count  deep_count  shallow_deep_ratio
0                      China         1249.0         1.0             1249.00
1                       Peru          667.0         1.0              667.00
2                       Guam          441.0         1.0              441.00
3                Afghanistan          246.0         1.0              246.00
4                New Zealand         1350.0        10.0              135.00
5            Solomon Islands          674.0         8.0               84.25
6                     Russia         4972.0        94.0               52.89
7                    Vanuatu         1027.0        22.0               46.68
8                      Japan         3717.0       116.0               32.04
9           Papua New Guinea         2227.0        70.0               31.81
10               Philippines         3142.0       114.0               27.56
11                 Indonesia         5350.0       264.0               20.27
12                     Italy          120.0        11.0               10.91
13                   Unknown        23270.0      3057.0                7.61
14                 Argentina          243.0        35.0                6.94
15              Japan region         1323.0       230.0                5.75
16  Northern Mariana Islands          618.0       117.0                5.28
17                     Tonga         1487.0       554.0                2.68
18                  Malaysia            3.0         2.0                1.50
19                   Bolivia           20.0        19.0                1.05
20                    Brazil           13.0        14.0                0.93
21               Timor Leste          157.0       201.0                0.78
22         Wallis and Futuna           78.0       155.0                0.50
23                      Fiji          102.0      1116.0                0.09
24               North Korea            0.0         4.0                0.00

## Query 24 : Find the average magnitude difference between earthquakes with tsunami alerts and those without

In [14]:
query24 = pd.read_sql("""
SELECT 
CASE 
  WHEN tsunami = 1 THEN 'Tsunami'
  ELSE 'Non-Tsunami'
END AS tsunami_flag,
AVG(mag) AS avg_magnitude,
COUNT(*) AS total_events
FROM earthquakes
GROUP BY tsunami_flag ;
""", engine)

query24

  tsunami_flag  avg_magnitude  total_events
0  Non-Tsunami       2.173970        537081
1      Tsunami       5.416446           637

## Query 25 : Using the gap and rms columns, identify events with the lowest data reliability (highest average error margins)

In [16]:
query25 = pd.read_sql("""
SELECT 
    id,
    place,
    gap,
    rms,
    (gap + rms) AS error_score
FROM earthquakes
WHERE gap IS NOT NULL AND rms IS NOT NULL
ORDER BY error_score DESC;
""", engine)

query25

,id,place,gap,rms,error_score
0,uw61988777,"9 km N of Peaceful Valley, Washington",360.0,0.5000,360.5000
1,ci40440272,"8km SE of Avalon, CA",360.0,0.2200,360.2200
2,ci39657847,"8km SE of Avalon, CA",360.0,0.2100,360.2100
3,ci39623194,"8km SE of Avalon, CA",360.0,0.1900,360.1900
4,nn00907449,"59 km NE of Valmy, Nevada",360.0,0.1436,360.1436
...,...,...,...,...,...
537713,ci37681244,"22 km SW of Lamont, CA",0.0,0.0000,0.0000
537714,ci40710799,"21 km SW of Lamont, CA",0.0,0.0000,0.0000
537715,ci40710695,"23 km E of Little Lake, CA",0.0,0.0000,0.0000
537716,ci40710655,"11 km ENE of Trabuco Canyon, CA",0.0,0.0000,0.0000
537717,ew1733440590,"165 km WSW of Ferndale, California",0.0,0.0000,0.0000

## Query 26 : Determine the regions with the highest frequency of deep-focus earthquakes (depth > 300 km)

In [18]:
query26 = pd.read_sql("""
SELECT 
    country AS region,
    COUNT(*) AS deep_focus_events,
    AVG(depth_km) AS avg_depth_km,
    AVG(mag) AS avg_magnitude
FROM earthquakes
WHERE depth_km > 300
  AND country IS NOT NULL
  AND country <> ''
  AND country <> 'Unknown'
GROUP BY country
ORDER BY deep_focus_events DESC;
""", engine)

query26

                      region  deep_focus_events  avg_depth_km  avg_magnitude
0                       Fiji               1116    564.654307       4.324014
1                      Tonga                554    470.171114       4.305776
2                  Indonesia                264    459.873045       4.414773
3               Japan region                230    447.145009       4.304783
4                Timor Leste                201    446.543274       4.324378
5          Wallis and Futuna                155    408.660174       4.344516
6   Northern Mariana Islands                117    438.476581       4.167521
7                      Japan                116    360.923069       4.385345
8                Philippines                114    522.542026       4.281579
9                     Russia                 94    418.151872       4.350000
10          Papua New Guinea                 70    443.500743       4.472857
11                 Argentina                 35    567.769000       4.802857
12                   Vanuatu                 22    551.771955       4.281818
13                   Bolivia                 19    513.788737       4.457895
14                    Brazil                 14    570.583571       5.007143
15                     Italy                 11    399.716273       4.245455
16               New Zealand                 10    368.452700       4.500000
17           Solomon Islands                  8    420.117125       4.300000
18               North Korea                  4    577.230750       4.400000
19                  Malaysia                  2    626.668000       4.900000
20                      Guam                  1    416.750000       4.300000
21               Afghanistan                  1    300.149000       4.200000
22                     China                  1    584.069000       4.400000
23                      Peru                  1    648.298000       5.600000

In [2]:
# Streamlit
!pip install streamlit

Requirement already satisfied: streamlit in c:\users\anith\anaconda3\lib\site-packages (1.45.1)
Requirement already satisfied: altair<6,>=4.0 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (5.5.1)
Requirement already satisfied: click<9,>=7.0 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (2.1.3)
Requirement already satisfied: packaging<25,>=20 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (2.2.3)
Requirement already satisfied: pillow<12,>=7.1.0 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (11.1.0)
Requirement already satisfied: protobuf<7,>=3.20 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (5.29.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (19.0.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (4.12.2)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (4.0.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\anith\anaconda3\lib\site-packages (from streamlit) (6.5.1)
Requirement already satisfied: jinja2 in c:\users\anith\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in c:\users\anith\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in c:\users\anith\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (1.31.0)
Requirement already satisfied: colorama in c:\users\anith\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\anith\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.7)
Requirement already satisfied: smmap<5,>=3.0.1 in c:\users\anith\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anith\anaconda3\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anith\anaconda3\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anith\anaconda3\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\anith\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\anith\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\anith\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\anith\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2025.11.12)
Requirement already satisfied: attrs>=22.2.0 in c:\users\anith\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (24.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\anith\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\anith\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\anith\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.22.3)
Requirement already satisfied: six>=1.5 in c:\users\anith\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\anith\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)